.__datepicker {
  width: 250px;
  padding: 20px;
  margin: auto;
  border: solid 1px #e0e0e0;
}

.__datepicker .row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  align-items: center;
}