.day {
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
}

.day:hover {
  cursor: pointer;
}

.day:not(.selected):hover {
  background-color: #eeeeee;
}

.day.other-month {
  color: #eeeeee;
}

.day.current-month {
  color: black;
}

.day.current-day {
  color: red;
}

.day.today {
  color: #db3d44;
}

.day.selected {
  color: white;
  background-color: #db3d44;
  border-radius: 50%;
}
